table {
	border-collapse: collapse;
	margin: 20px;
	width: calc(100% - 50px);
	overflow-x: auto;
}


td {
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
	width: 20%;
	height: 100px;
	/* Höhe der Zelle */
	font-family: Arial, sans-serif;
}

td.marked {
	background-color: #f2f2f2;
	color: #999;
}

button {
	display: block;
	margin: 0 auto;
	font-size: 18px;
	padding: 10px 20px;
	background-color: #1abc9c;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

@media (max-width: 1080px) {
	td {
		height: 60px;
		font-size: 3vw;
		width: 20%;
	}
}

@media (max-width: 768px) {
	td {
		height: 60px;
		font-size: 3vw;
		/* reducing font size for smaller screens */
		width: 25%;
	}
}

@media (max-width: 480px) {
	td {
		height: 40px;
		font-size: 2.5vw;
		/* reducing font size further for smaller screens */
		width: 33.33%;
	}
}

@media (max-width: 320px) {
	td {
		height: 30px;
		font-size: 2vw;
		/* reducing font size even further for smallest screens */
		padding: 0.2em;
	}
}